/WebApplication1/nbproject/private/
/PPCMS/PPCMS-new/nbproject/private/
PPCMS/PPCMS-new/lib/javaee-endorsed-api-6.0/jaxb-api-osgi.jar
PPCMS/PPCMS-new/lib/javaee-endorsed-api-6.0/javax.annotation.jar
PPCMS/PPCMS-new/lib/javaee-endorsed-api-6.0/webservices-api-osgi.jar
WebApplication1/lib/javaee-endorsed-api-6.0/javax.annotation.jar
WebApplication1/lib/javaee-endorsed-api-6.0/jaxb-api-osgi.jar
WebApplication1/lib/javaee-endorsed-api-6.0/webservices-api-osgi.jar
/PPCMS-newGit/nbproject/private/
/PPCMS-newGit/build/
/PPCMS-newGit/dist/