/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2020, 2:26:05 PM
    Author     : Beauty Kumari
*/

.bg1{
    background-color: yellowgreen;
    margin-right: 25px;
    margin-left: 25px;
}

.btn1{
    margin-right: 15px;
}

.t1{
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
}

.bg2{
    background-color: orange; 
}

